name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v12

      - name: Enable magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Build FreeShow package
        run: nix build .#freeshow

      - name: Flake check
        run: nix flake check
